/*
Create By Mujib Masyhudi <mujib.masyhudi@gmail.com>
Create at {date('now')}
*/
/* 
    Created on : Feb 2, 2016, 6:45:18 AM
    Author     : samsung-pc
*/

body {
    margin: 0px;
}
.content-wrapper{
    min-height: 680px;
}
.content-header{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
}
/*.main-sidebar {
    padding-top: 0px; 
    margin-top: 0px;
}*/

.alert {
    margin-left:15px;
    margin-right: 15px;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid whitesmoke;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.products-list .product-info {
  margin-left: 0px;
}